.text-2-row{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.scale-hover{
    transition: transform .5s;
    &:hover{
        transform: scale(1.5);
    }
}

